.hover:hover{
  transform: scale(1.05);
  transition: 1s;
}
.hover{
  transition: 1s;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
}
ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}
li{
  float: left;
  text-align: center;
  justify-content: center;
  background-color: black;
}
.ikkebildenavbar a{
  display: block;
  padding: 24px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;
  transition: 1s;
}
.ikkebildenavbar a:hover{
  background-color: darkblue;
  transition: 1s;
}
.active{
  background-color: blue;
}
body{
  background-image: url(Bilder/black-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main{
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.skobilde{
  grid-column: span 2;
  grid-row: span 2;
}
main>section>div>img{
  width: 100%;
}
.tekst{
  grid-column: span 3;
  grid-row: span 1;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: red;
}
.Kjøpnå{
  grid-row: span 1;
  grid-column span 1;
  width: 100%;
  padding-bottom: 100px;
  padding-left: 20px;
}
.bilde2{
  width: 200px;
  height: 100px;
}
.tekst2{
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 4px;
  font-size: 50px;
}
main2{
  grid-template-columns: 1fr 1fr 1fr;
}
.usynig{
  grid-column: span 1;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content input{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content input:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.text4{
  font-size: 16px;
  text-align: center;
}
.text5{
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}
.longboye{
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span 4;
  background-image: url(Bilder/Fargerik.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: span 1;
}
footer{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(68, 201, 101);
}
.logoboks{
  margin-top: 10px;
}
footer>section{
  margin-left: auto;
  margin-right: auto;
}
footer>section>.logoboks{
  margin: auto;
  padding-top: 50px;
}
